<template>
    <!--<div class="container">-->
    <div class="row">
        <div class="col-lg-12">
            <form @submit.prevent="postTransaction()">
                <div class="form-group row">
                    <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                    <div class="col-sm-8">
                        <input 
                            autofocus="true"
                            type="number" 
                            class="form-control" 
                            id="amount" 
                            placeholder="Amount"
                            min="1"
                            step="0.01"
                            required
                            v-model.integer="amount"
                            :class="{'amount-checked': amountChecked, 'invalid-amount': !amountChecked}"
                            >
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary" :disabled="disableSubmit">Deposit</button>
                </div>
            </form>
        </div>
    </div>
    <!--</div>-->
</template>

<script>
    export default {
        props: ['wallet'],
        data() {
            return {
                amount: null,
                amountChecked: false,
                disableSubmit: true,
                parsedWallet: 0
            };
        },
        mounted() {
            this.parsedWallet = JSON.parse(this.wallet);
        },
        watch: {
            amount() {
                this.checkAmount();
            }
        },
        methods: {
            checkAmount() {
                if ( 0 < this.amount) {
                    this.amountChecked = true;
                    this.disableSubmit = false;
                    return;
                }
                this.amountChecked = false;
                this.disableSubmit = true;
                return;
            },
            postTransaction() {
                axios.put('/wallets/deposit/' + this.parsedWallet.id , {amount: this.amount})
                        .then(response=>{
                            location.reload();
                        })
                        .catch(error=>{});
            }
        }
    }
</script>

<style scoped>
    .amount-checked{
        border-color: green;
    }
    .invalid-amount{
        border-color: red;
    }
</style>
