<template>
    <!--<div class="container">-->
    <div class="row">
        <div class="col-lg-12">
            <form @submit.prevent="postTransaction()">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input 
                            type="email" 
                            class="form-control" 
                            id="inputEmail3" 
                            placeholder="Email"
                            autofocus
                            required
                            v-model.trim.lazy="email"
                            @blur="checkEmail"
                            :class="{'email-exists': emailChecked, 'invalid-email': !emailChecked}"
                            >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                    <div class="col-sm-8">
                        <input 
                            type="number" 
                            class="form-control" 
                            id="amount" 
                            placeholder="Amount"
                            min="0"
                            step="0.01"
                            required
                            v-model.integer="amount"
                            :class="{'amount-checked': amountChecked, 'invalid-amount': !amountChecked}"
                            >
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary" :disabled="disableSubmit">Transfer</button>
                </div>
            </form>
        </div>
    </div>
    <!--</div>-->
</template>

<script>
    export default {
        props: ['wallet', 'currentUserEmail'],
        data() {
            return {
                email: null,
                amount: null,
                emailChecked: false,
                amountChecked: false,
                disableSubmit: true,
                parsedWallet: null
            };
        },
        mounted() {
            this.parsedWallet = JSON.parse(this.wallet);
        },
        watch: {
            amount() {
                this.checkAmount();
            }
        },
        methods: {
            checkEmail() {
                if ( !this.email ) {
                    this.emailChecked = false;
                    this.disableSubmit = true;
                    return;
                }
                if ( this.currentUserEmail === this.email ) {
                    this.emailChecked = false;
                    this.disableSubmit = true;
                    flash('You cannot send to yourself', 'danger');
                    return;
                }
                axios.post('/users/check-email', {email: this.email})
                        .then(response => {
                            this.emailChecked = true;
                            (this.amountChecked) ? this.disableSubmit = false : '';
                        })
                        .catch(error => {
                            this.emailChecked = false;
                            this.disableSubmit = true;
                            flash('Invalid Email Address', 'danger');
                            return;
                        });
            },
            checkAmount() {
                if ( 0 < this.amount && this.parsedWallet.balance > this.amount ) {
                    (this.emailChecked) ? this.disableSubmit = false : '';
                    this.amountChecked = true;
                    return;
                }
                this.amountChecked = false;
                this.disableSubmit = true;
                return;
            },
            postTransaction() {
                axios.put('/wallets/transfer/' + this.parsedWallet.id , {email: this.email, amount: this.amount, _method:'PUT'})
                        .then(response=>{
                            location.reload();
                        })
                        .catch(error=>{});
            }
        }
    }
</script>

<style scoped>
    .email-exists, .amount-checked{
        border-color: green;
    }
    .invalid-email, .invalid-amount{
        border-color: red;
    }
</style>
